
.title {
    text-align: center;
    font-weight: 700;
    border-bottom:1px solid rgba(155,155,155,0.5);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.bigrow{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
}

.row{
    margin: 10px;
}

.todoField, .searchField{
    display: inline-block;
    float: left;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.todoField:focus, .searchField:focus {
  border-color: #FF9505;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.todo-filter-search{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.searchField{
    min-width: 170px;
    border-radius: 4px;
}

#todolist{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    flex-basis:100px;
    margin:15px;
    flex-flow: row wrap;
}

.col1, .col2{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    border: 1px solid rgba(155,155,155,0.5);
    -webkit-box-shadow: -2px 1px 20px -7px #35393a;
    -moz-box-shadow: -2px 1px 20px -7px #35393a;
    box-shadow: -2px 1px 20px -7px #35393a;
}

.col1{
    height: auto;
    min-width: 226px;
}

.col2{
    min-width: 400px;
    width: 50%;
    max-width: 500px;
}

.button, .addbutton {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 0 solid #35393a;
    border-radius: 0 4px 4px 0;
}

.delete_button{
    background-color: darkred;
}

.addbutton {
    background-color: green;
    color:white;
}

.button:focus,
.button:active:focus,
.button.active:focus,
.button.focus,
.button:active.focus,
.button.active.focus,
.addbutton:focus,
.addbutton:active:focus,
.addbutton.active:focus,
.addbutton.focus,
.addbutton:active.focus,
.addbutton.active.focus{
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    background-color: #FF9505;
}

.addbutton:hover,
.addbutton:focus,
.addbutton.focus{
  background-color: #FF9505;
  text-decoration: none;
}


.addbutton:active,
.addbutton.active {
    background-color: #FF9505;
    color: white;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.addbutton{
    display: inline-block;
}

#todoitem{
    font-size: 20px;
    margin-right: 10px;
}

#todoitem span {
    padding-left: 7.5px;
}

.input-group .todoField {
    border-radius: 4px;
}

.list-group-item{
    min-height: 40px;
}

.list-group-item:hover{
    background-color: #333;
}

.list-group-item:active{
    background-color: #FF9505;
}

.list-group{
    margin: 20px;
}

.todo-filter{
    margin-bottom: 10px;
}

.todo-filter li{
    display: inline;
}

.col-filter{
    display: inline;
}

.form-control{
    float: left;
}

ul{
    list-style: none;
    margin: 20px;
    padding-left: 0;
}

h3{
    text-align: center;
}

.todoform{
    display: flex;
    margin: 0 20px;
}

.row {
    margin: 0px;
}

.col1 .row {
    margin: 0 20px;
}

.form-group{
    display: flex;
}

/* Mobile - portrait */

@media only screen and (max-width: 680px){
    .bigrow{
        flex-direction: column-reverse;
        align-items: center;
    }

    .col1 {
        margin-bottom: 75px;
        width: 95%;
    }
    .col2{
        width: 100%;
        min-width: 200px;
        max-width: 350px;
    }
    .searchField {
        width: 65%;
        min-width: 50px;
    }
    .todo-filter {
        width: 110%;
    }
    .col-search {
        width: 30%;
    }
}
