.calendarContent {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.title {
    text-align: center;
    font-weight: 700;
    border-bottom:1px solid rgba(155,155,155,0.5);
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.weekBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
}

.dayBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis:100px;
    margin:15px;
    border: 1px solid rgba(155,155,155,0.5);
    background-color: #FFF;
    height: 100px;
}

.dayBox p {
    margin:0;
    font-size:11px;
}

.dayBox h1 {
    font-size:32px;
}

.dayBox:hover {
    border-color: #FF9505;
    cursor: pointer;
}

.dayDate {
    margin-top: 5px;
    margin-bottom: 0px;
}

.calendarBox {
    background-color: white;
    width: 100%;
    height:auto;
    margin:0px;
    padding: 20px;
}