.SideBar {
    display: flex;
    width: 100px;
    height: 100%;
    background-color: #35393a;
    flex-direction: column;
    align-items: center;
}

.SideBar .Button{
    width: 80px;
    height: 80px;
    background-color: #17292d;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.Glyphicon{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
}

.Glyphicon:hover .Button{
    color: #ECA400;
}