.sideBar {
    display: flex;
    min-height: 100vh;
    height: auto;
    background-color: #35393a;
    flex-direction: column;
}

.sideBar .Button{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button span{
    color: white;
    font-size: 42px;
}

.Button:hover .glyphicon{
    color: #FF9505;
}

.Button:hover, .Button  {
    text-decoration: none !important;
}