.sideBar {
    display: flex;
    height: 100%;
    background-color: #35393a;
    flex-direction: column;
}

.sideBar .Button{
    width: 80px;
    height: 80px;
    background-color: #17292f;
    margin: 5px 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button span{
    color: white;
    font-size: 42px;
}

.Button:hover .glyphicon{
    color: #ECA400;
}

.Button:hover, .Button  {
    text-decoration: none !important;
}